<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://medibook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>medibook</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$medibook</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLExpressConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source.\SQLEXPRESS;Initial Catalog=MediBookDB;Integrated Security=True;&#xD;&#xA;    AttachDbFilename=|DataDirectory|\MediBookDB.mdf" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLExpressConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source.\SQLEXPRESS;Initial Catalog=MediBookDB;Integrated Security=True;     AttachDbFilename=|DataDirectory|\MediBookDB.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalDBConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\V11.0;AttachDbFilename=|DataDirectory|\MediBookDB.mdf;Initial Catalog=MediBookDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\V11.0;Initial Catalog=MediBookDB;Integrated Security=True;     AttachDbFilename=|DataDirectory|\MediBookDB.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MediBook.Server.Models.DataContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:lwxa9oi2uv.database.windows.net,1433;Initial Catalog=MedibookDB;User ID=medibook@lwxa9oi2uv;Password=Faad6dd70c" Name="Data Source=tcp:lwxa9oi2uv.database.windows.net,1433;Initial Catalog=MedibookDB;User Id=medibook@lwxa9oi2uv;Password=Faad6dd70c;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediBook.Server.Models.DataContext, MediBook.Server" MigrationConfiguration="MediBook.Server.Migrations.Configuration, MediBook.Server" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalDBConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediBook.Server.Models.DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lwxa9oi2uv.database.windows.net,1433;Initial Catalog=MedibookDB;User Id=medibook@lwxa9oi2uv;Password=Faad6dd70c;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLExpressConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MediBook.Server.Models.DataContext" />
  </ItemGroup>
</Project>